.main {
  border-bottom: 3px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

p{
    font-style: italic;
}

.profile{
    display: flex;
    background-color: rgb(171, 142, 171);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
}

.profile button{
    color: yellow;
    cursor: pointer;
    background-color: rgb(171, 142, 171);
    border: none;
    font-size: inherit;
    justify-content: center;
}