.main {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}

.right{
  padding: 15px 10px;
  background-color: rgb(212, 183, 144);
  border-radius: 10px;
}

.left {
  border-radius: 5px;
}
.verifyEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 6px 9px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 6px 9px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
