.wrapper {
  max-width: 400px;
  margin: 10rem auto;
  text-align: center;
}

.form {
  border: 2px solid gray;
  padding: 10px;
}

.heading{
    font-size: 40px;
    margin: 1rem;
}

.form-control input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    background-color: skyblue;
    cursor: pointer;
}

.last{
    border: 2px solid gray;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    font-size: 18px;
    background-color: rgba(61, 236, 249, 0.888);
}