.main {
  border-bottom: 3px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  font-style: italic;
}

.profile {
  display: flex;
  background-color: rgb(171, 142, 171);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  align-items: center;
}

.profile a {
  color: yellow;
  cursor: pointer;
  background-color: rgb(171, 142, 171);
  border: none;
  font-size: inherit;
  justify-content: center;
  text-decoration: none;
}

.form {
  margin-top: 1rem;
  max-width: 1200px;
  margin-left: 30%;
  border: none;
}

.update-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.update-header button {
  cursor: pointer;
  border: 1px solid red;
  color: red;
  padding: 10px;
  border-radius: 13px;
  background-color: white;
  margin-right: 300px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formInput {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.formInput label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 30px;
}

.formInput input{
  padding: 5px 10px;
}

.sbmt{
    margin-left:150px;
    margin-top: 30px;
    background-color: rgb(189, 67, 124);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.line{
  border:2px solid rgb(194, 188, 188);
  margin-top: 10px;
}
